@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes grain {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-1px, 1px); }
  20% { transform: translate(-2px, -1px); }
  30% { transform: translate(1px, -2px); }
  40% { transform: translate(1px, 2px); }
  50% { transform: translate(-1px, 1px); }
  60% { transform: translate(-2px, 2px); }
  70% { transform: translate(2px, 1px); }
  80% { transform: translate(-1px, -2px); }
  90% { transform: translate(2px, -1px); }
  100% { transform: translate(0, 0); }
}

.grain {
  background-image: url("/grain.jpg");
  background-repeat: repeat;
  background-size: 30%;
  mix-blend-mode: overlay;
  opacity: 0.5;
  animation: grain 1s steps(10) infinite;
  pointer-events: none;
  position: absolute;
  inset: 0;
  z-index: 0;
}